<h3>Chat!</h3>
<hr>

<div id="app-mensajes" class="app-mensajes">
  <div *ngFor="let chat of chatService.chats | async " 
       [ngClass]="{ 'text-right': chatService.usuario.uid === chat.uid }">
      <span class="badge" 
        [ngClass]="{ 'badge-primary': chatService.usuario.uid === chat.uid,
                     'badge-success': chatService.usuario.uid != chat.uid }">
        {{ chat.nombre }}</span>
      <p>
          {{ chat.mensaje }}
      </p>
  </div>
  <!--<div class="text-left">
      <span class="badge badge-success">Maria</span>
      <p>
          Este es otro mensaje!
      </p>
  </div>-->
</div>

<input [(ngModel)]="mensaje" 
       name="mensaje"
       (keyup.enter)="enviar()"
       class="form-control"
       placeholder="mensaje..." 
       type="text">